<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ruff Lint Report for {{ filename }}</title>
    <link rel="stylesheet" href="assets/styles.css">
</head>
<body>
    <div id="homeheader">
        <h1>{{ filename }}:
            <span class="{% if statistics.score >= 90 %}grade-high
            {% elif statistics.score >= 70 %}grade-medium
            {% else %}grade-low{% endif %}">{{ statistics.grade }}
            </span>
        </h1>
    </div>
    <div id="file_summary">
        <br>
        <br>
        <br>
        <table>
            <tr>
                <th> </th>
                <th>Severity</th>
                <th>Code</th>
                <th>Message</th>
                <th>Line</th>
            </tr>
            {% for issue in issues %}
            <tr>
                <td>
                <span class="{% if issue.severity.name == 'ERROR' %}severity-error
                {% elif issue.severity.name == 'WARNING' %}severity-warning
                {% elif issue.severity.name == 'BEST_PRACTICE' %}severity-best-practice
                {% elif issue.severity.name == 'INFO' %}severity-info
                {% else %}severity-fixed{% endif %}">
                </span>
                </td>
                <td>{{ issue.severity.name.replace("_", " ") }}</td>
                <td><!--suppress HtmlUnknownTarget -->
                    <a href="{{ issue.url }}">{{ issue.code }}</a></td>
                <td>{{ issue.message }}</td>
                <td><!--suppress HtmlUnknownTarget -->
                    <a href="{{ source_link }}">{{ issue.location.row }}</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>